body {
    background-color: #e9c46a;
}

div {
    display: block;
    background-color: #264653;
    color: #f4a261;
    width: 100%;
    height: 50px;
}

a {
    color: #f4a261;
    text-decoration: transparent;
}
iframe {
    height: 100%;

}
table {
    padding: 12px 0px 4px 400px;
    border-spacing: 5px;
    
}